$font-normal: 'Roboto',
'Source Sans 3',
Helvetica,
Arial,
sans-serif;

$font-head: 'Poppins',
Verdana,
Geneva,
Tahoma,
sans-serif;

$bp-sm: 575px;
$bp-md: 767px;
$bp-lg: 991px;
$bp-xl: 1199px;
$bp-xxl: 1399px;

$unit-5: 3rem;
$unit-4: 1.5rem;
$unit-3: 1rem;
$unit-2: 0.5rem;
$unit-1: 0.25rem;

$color-gray-light: rgba(0, 0, 0, 0.03);
$color-gray-silver: rgba(0, 0, 0, 0.1);
$color-gray-ash: rgba(0, 0, 0, 0.3);
$color-gray-medium: rgba(0, 0, 0, 0.5);
$color-gray-medium-dark: rgba(0, 0, 0, 0.7);
$color-white-light: rgba(255, 255, 255, 0.1);
$color-white-silver: rgba(255, 255, 255, 0.2);
$color-white-cream: rgba(255, 255, 255, 0.4);
$color-white-medium: rgba(255, 255, 255, 0.6);
$color-white-medium-bright: rgba(255, 255, 255, 0.8);
$color-theme-red-1: #ff0054;
$color-theme-red-2: #ff0049;


.demo {
    font-family: 'Poppins',
        sans-serif;
    font-family: 'Roboto',
        sans-serif;
    font-family: 'Source Sans 3',
        sans-serif;
}