.demo {
    font-family: 'Poppins',
        sans-serif;
    font-family: 'Roboto',
        sans-serif;
    font-family: 'Source Sans 3',
        sans-serif;
}

$font-normal: 'Roboto',
'Source Sans 3',
Helvetica,
Arial,
sans-serif;

$font-head: 'Poppins',
Verdana,
Geneva,
Tahoma,
sans-serif;

$bp-sm: 575px;
$bp-md: 767px;
$bp-lg: 991px;
$bp-xl: 1199px;
$bp-xxl: 1399px;

$unit-5: 3rem;
$unit-4: 1.5rem;
$unit-3: 1rem;
$unit-2: 0.5rem;
$unit-1: 0.25rem;

$color-gray-light: rgba(0, 0, 0, 0.03);
$color-gray-silver: rgba(0, 0, 0, 0.1);
$color-gray-ash: rgba(0, 0, 0, 0.3);
$color-gray-medium: rgba(0, 0, 0, 0.5);
$color-gray-medium-dark: rgba(0, 0, 0, 0.7);
$color-white-light: rgba(255, 255, 255, 0.1);
$color-white-silver: rgba(255, 255, 255, 0.2);
$color-white-cream: rgba(255, 255, 255, 0.4);
$color-white-medium: rgba(255, 255, 255, 0.6);
$color-white-medium-bright: rgba(255, 255, 255, 0.8);
$color-theme-red-1: #ff0054;
$color-theme-red-2: #ff0049;

html {
    margin: 0;
    padding: 0;
    font-size: 16px;
    // scroll-behavior: auto !important;
}

body {
    font-family: $font-normal;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: $font-head;
        font-weight: 700;
    }

    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6 {
        font-family: $font-head;
    }

    .page_wrapper {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        width: 100%;
        position: relative;

        main#project_main {
            flex-grow: 1;
        }

    }

    .text_hero {
        font-size: 6rem;

        @media (max-width: $bp-xl) {
            font-size: 4rem;
        }

        @media (max-width: 575px) {
            font-size: 3rem;
        }
    }

    .text_hero2 {
        font-size: 3rem;

        @media (max-width: $bp-xl) {
            font-size: 2.5rem;
        }

        @media (max-width: $bp-sm) {
            font-size: 2rem;
        }
    }

    // utility class

    .none_select {
        user-select: none;
        user-zoom: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        pointer-events: none;
    }
    .hidden {
        display: none;
        visibility: hidden;
        opacity: 0;
    }

    .bg_subtle {
        background-color: rgba($color: #000000, $alpha: 0.07);
    }

    .text_fade {
        color: rgba($color: #000000, $alpha: 0.03);
        text-decoration: none;
    }
    .text_subtle {
        color: rgba($color: #000000, $alpha: 0.1);
        text-decoration: none;
    }


    a.no_deco{
        text-decoration: none;
    }

    .lightbox-enabled {
        cursor: pointer;
    }

    .lightbox_overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.8);
        backdrop-filter: blur(1rem);
        z-index: 1080;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        transition: opacity 0.5s ease-in-out;
        opacity: 0;

        .lightbox_controls {
            position: absolute;
            bottom: $unit-3;
            margin: 0 auto;

            button {
                font-size: small;
                background-color: $color-white-medium;
                backdrop-filter: blur($unit-3);

                &:hover {
                    background: white;
                }
            }
        }

        .lightbox_close {
            position: absolute;
            width: 50px;
            height: 50px;
            top: 10px;
            right: 10px;
            background-color: $color-white-medium-bright;
            border: none;
            border-radius: 50%;
            cursor: pointer;

            .bi {
                text-align: center;
                vertical-align: middle;

                &::before {
                    font-size: 2rem;
                }
            }
        }

        img {
            max-width: 95%;
            max-height: 95%;
            transition: transform, left, top;
            transition-duration: 0.3s;
            transition-timing-function: ease-out;
            transform: scale(var(--img-scale, 1));

            position: relative;
            left: 0;
            top: 0;

            transform-origin: center center;
            user-select: none;
            user-zoom: none;

        }

    }

}