@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes bgGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes bgGradient2 {
  0% {
    background-position: 45% 45%;
    background-size: 100% 180%;
  }
  25% {
    background-position: 50% 45%;
    background-size: 120% 160%;
  }
  50% {
    background-position: 55% 45%;
    background-size: 140% 140%;
  }
  75% {
    background-position: 55% 50%;
    background-size: 160% 120%;
  }
  100% {
    background-position: 55% 55%;
    background-size: 180% 100%;
  }
}
@keyframes decTilt {
  0% {
    transform: rotateX(2deg) rotateY(0deg);
  }
  12.5% {
    transform: rotateX(1.4deg) rotateY(1.4deg);
  }
  25% {
    transform: rotateX(0deg) rotateY(2deg);
  }
  37.5% {
    transform: rotateX(-1.4deg) rotateY(1.4deg);
  }
  50% {
    transform: rotateX(-2deg) rotateY(0deg);
  }
  62.5% {
    transform: rotateX(-1.4deg) rotateY(-1.4deg);
  }
  75% {
    transform: rotateX(0deg) rotateY(-2deg);
  }
  87.5% {
    transform: rotateX(1.4deg) rotateY(-1.4deg);
  }
  100% {
    transform: rotateX(2deg) rotateY(0deg);
  }
}
@keyframes move-right {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(10px);
  }
}
@keyframes move-left {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-10px);
  }
}
@keyframes move-down {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(10px);
  }
}
@keyframes move-up {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-10px);
  }
}
@keyframes ztrans-0 {
  from {
    transform: translateZ(-20px);
  }
  to {
    transform: translateZ(-28px);
  }
}
@keyframes ztrans-1 {
  from {
    transform: translateZ(33px);
  }
  to {
    transform: translateZ(60px);
  }
}
@keyframes ztrans-2 {
  from {
    transform: translateZ(72px);
  }
  to {
    transform: translateZ(103px);
  }
}
@keyframes ztrans-3 {
  from {
    transform: translateZ(92px);
  }
  to {
    transform: translateZ(123px);
  }
}
@keyframes ztrans-4 {
  from {
    transform: translateZ(88px);
  }
  to {
    transform: translateZ(116px);
  }
}
@keyframes ztrans-5 {
  from {
    transform: translateZ(80px);
  }
  to {
    transform: translateZ(110px);
  }
}
@keyframes ztrans-6 {
  from {
    transform: translateZ(72px);
  }
  to {
    transform: translateZ(106px);
  }
}
@keyframes ztrans-7 {
  from {
    transform: translateZ(66px);
  }
  to {
    transform: translateZ(88px);
  }
}
@keyframes ztrans-b1 {
  from {
    transform: translateZ(45px);
  }
  to {
    transform: translateZ(58px);
  }
}
@keyframes ztrans-b2 {
  from {
    transform: translateZ(100px);
  }
  to {
    transform: translateZ(130px);
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Poppins", Verdana, Geneva, Tahoma, sans-serif;
}

.bg_red1 {
  background-color: #ff0054;
}

.bg_red2 {
  background-color: #dc003e;
}

.bg_magenta {
  background-color: #FF008A;
}

.bg_blue {
  background-color: #4909FE;
}

.bg_fade {
  background-color: rgba(0, 0, 0, 0.03);
}

.bg_subtle {
  background-color: rgba(0, 0, 0, 0.07);
}

.text_red1 {
  color: #ff0054;
}

.text_red2 {
  color: #dc003e;
}

.text_magenta {
  color: #FF008A;
}

.text_blue {
  color: #4909FE;
}

.text_fade {
  color: rgba(0, 0, 0, 0.03);
  text-decoration: none;
}

.text_subtle {
  color: rgba(0, 0, 0, 0.1);
  text-decoration: none;
}

.project_page_header {
  visibility: visible;
}
.project_page_header .drawer_btm_group .btn_group a {
  visibility: visible;
}

.project_article .project_article_header {
  padding-top: 0.5rem;
}
@media (max-width: 991px) {
  .project_article .project_article_header .project_intro_summary {
    box-shadow: 0 -1rem 1rem -1.5rem rgba(0, 0, 0, 0.3);
  }
}
.project_article .project_article_header .project_intro_image {
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 100%;
  overflow: hidden;
}
.project_article .project_article_header .project_intro_image .intro_image {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: 50% 100%;
     object-position: 50% 100%;
}
@media (max-width: 991px) {
  .project_article .project_article_header .project_intro_image .intro_image {
    max-height: 500px;
  }
}
@media (max-width: 767px) {
  .project_article .project_article_header .project_intro_image .intro_image {
    max-height: 300px;
  }
}
.project_article .article_section_leading {
  background-color: #333;
  overflow: hidden;
}
.project_article .article_section_leading.bg_attach {
  min-height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}
.project_article .article_section_leading .image_wrapper {
  margin: 0 auto;
  max-width: 1300px;
  overflow: hidden;
}
.project_article .article_section_leading .image_wrapper .leading_image {
  height: 100%;
  width: 100%;
  max-height: 512px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}
.project_article .article_section:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.03);
}
.project_article .article_section .subhead_list {
  padding: 0;
}
.project_article .article_section .subhead_list li {
  margin-bottom: 0.25rem;
  list-style-type: none;
  position: relative;
  padding-left: 1.5rem;
}
.project_article .article_section .subhead_list li::before {
  position: absolute;
  content: "\f199";
  font-family: "Bootstrap-icons";
  display: inline-block;
  vertical-align: middle;
  line-height: 100%;
  font-size: 0.9rem;
  margin-right: 0.5rem;
  left: 0;
  top: 0.25em;
  color: rgba(0, 0, 0, 0.7);
}
.project_article .article_section .media_block {
  margin-bottom: 1.5rem;
  overflow: hidden;
}
.project_article .article_section .media_block blockquote.quote_container {
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.03);
}
.project_article .article_section .media_block .block_headline {
  margin-bottom: 1rem;
}
.project_article .article_section .media_block .block_caption {
  margin-top: 0.5rem;
  color: rgba(0, 0, 0, 0.7);
  font-size: 0.9em;
}
.project_article .article_section .media_block figure {
  margin: 0;
  width: 100%;
}
.project_article .article_section .media_block figure figcaption {
  color: rgba(0, 0, 0, 0.3);
  font-weight: 500;
}
.project_article .article_section .media_block figure figcaption::before {
  margin: 0 0.25rem;
  font-family: "Bootstrap-icons";
  content: "\f4c9";
  font-size: 0.8em;
  vertical-align: baseline;
}
.project_article .article_section .media_block.article_paragraphs .block_headline {
  margin-bottom: 1.5rem;
}
.project_article .article_section .media_block.article_paragraphs .article_paragraph {
  line-height: 1.6em;
}
.project_article .article_section .media_block.article_lists .block_headline {
  margin-bottom: 1.5rem;
}
.project_article .article_section .media_block.article_lists .article_list.regular {
  padding: 0;
}
.project_article .article_section .media_block.article_lists .article_list.regular .regular-item {
  position: relative;
  list-style: none;
  padding-left: 2rem;
  margin-bottom: 0.5rem;
}
.project_article .article_section .media_block.article_lists .article_list.regular .regular-item.lead::before {
  content: "\f46c";
}
.project_article .article_section .media_block.article_lists .article_list.regular .regular-item::before {
  position: absolute;
  content: "\f5c8";
  font-family: "Bootstrap-icons";
  display: inline-block;
  vertical-align: baseline;
  margin-right: 0.5rem;
  left: 0;
  color: rgba(0, 0, 0, 0.5);
}
.project_article .article_section .media_block.article_images .image_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.project_article .article_section .media_block.article_images figure.maintain_size {
  max-width: 100%;
  width: -moz-fit-content;
  width: fit-content;
}
.project_article .article_section .media_block.article_images figure.maintain_size figcaption {
  text-align: center;
}
.project_article .article_section .media_block.article_images figure.maintain_size figcaption::before {
  content: none;
}
.project_article .article_section .media_block.article_images .article_image {
  width: 100%;
}
.project_article .article_section .media_block.article_images .article_image.lightbox-enabled {
  cursor: pointer;
  transition-property: box-shadow transform;
  transition-duration: 0.3s;
}
.project_article .article_section .media_block.article_images .article_image.lightbox-enabled:hover {
  box-shadow: var(--bs-box-shadow);
  transform: scale(101%);
}
.project_article .article_section .media_block.article_carousel .carousel-caption {
  text-shadow: 1px 3px 5px rgba(0, 0, 0, 0.5);
}
.project_article .article_section .media_block.article_carousel .carousel-caption .carousel_image_headline {
  font-weight: 500;
}
.project_article .article_section .media_block.article_carousel .carousel-caption .carousel_image_caption {
  font-size: 0.8rem;
}
.project_article .article_section .media_block.article_videos figure {
  margin-bottom: 0;
}
.project_article .article_section .media_block.article_videos .video_wrapper .article_video {
  width: 100%;
  display: block;
  transition: opacity 0.3s;
}
.project_article .article_section .media_block.iframe_container .iframe_wrapper {
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 400px;
  aspect-ratio: 3/2;
  overflow: hidden;
}
.project_article .article_section .media_block.iframe_container .iframe_wrapper iframe {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
.project_article .article_section .media_block.html_container .html_wrapper {
  width: 100%;
  overflow: hidden;
}

.load_more_section .last_next_selector {
  justify-content: space-between;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.load_more_section .last_next_selector a.case {
  display: flex;
  flex-direction: column;
  color: inherit;
  overflow: hidden;
  transition: background-color 0.3s, color 0.3s;
}
.load_more_section .last_next_selector a.case:hover {
  background-color: rgba(0, 0, 0, 0.03);
  color: black;
}
.load_more_section .last_next_selector a.case:last-child {
  text-align: right;
}
.load_more_section .last_next_selector a.case .cta {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.load_more_section .last_next_selector a.disabled {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
  cursor: not-allowed;
}
.load_more_section .last_next_selector a.disabled .cta {
  color: rgba(0, 0, 0, 0.3);
}

.lightbox-enabled {
  cursor: pointer;
}

.lightbox_overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
  z-index: 1080;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}
.lightbox_overlay .lightbox_controls {
  position: absolute;
  bottom: 1rem;
  margin: 0 auto;
}
.lightbox_overlay .lightbox_controls button {
  font-size: small;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
}
.lightbox_overlay .lightbox_controls button:hover {
  background: white;
}
.lightbox_overlay .lightbox_close {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 10px;
  right: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
.lightbox_overlay .lightbox_close .bi {
  text-align: center;
  vertical-align: middle;
}
.lightbox_overlay .lightbox_close .bi::before {
  font-size: 2rem;
}
.lightbox_overlay img {
  max-width: 95%;
  max-height: 95%;
  transition: transform, left, top;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  transform: scale(var(--img-scale, 1));
  position: relative;
  left: 0;
  top: 0;
  transform-origin: center center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  user-zoom: none;
}

section.homepage_home {
  padding: 10rem 0 8rem 0;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
@media (max-width: 991px) {
  section.homepage_home {
    padding: 6rem 0 3rem 0;
  }
}
section.homepage_home .hero_card {
  position: relative;
  z-index: 1;
}
section.homepage_home .hero_card .text_hero {
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
}
section.homepage_home .hero_card .hero_btn {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 0, 84, 0.3);
  color: white;
  transition: background-color 0.4s;
}
section.homepage_home .hero_card .hero_btn:hover {
  background-color: rgba(255, 0, 84, 0.8);
}
@media (max-width: 767px) {
  section.homepage_home .hero_card {
    -webkit-backdrop-filter: blur(1rem);
            backdrop-filter: blur(1rem);
    background-color: rgba(15, 15, 15, 0.25);
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.25);
    margin-bottom: 4rem;
  }
}
section.homepage_home .bg_container {
  position: absolute;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  background-size: cover, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: 50%, 50%;
  background-attachment: fixed;
  background-image: linear-gradient(317deg, #120512 0%, #3F001E 100%);
}
@media (max-width: 1200px) {
  section.homepage_home .bg_container {
    min-width: 100%;
    min-height: 100%;
  }
}
section.homepage_home .bg_container .hero_decoration_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
section.homepage_home .bg_container .hero_decoration_container canvas {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: linear-gradient(317deg, #120512 0%, #3F001E 100%);
  position: absolute;
  z-index: -2;
}
section.homepage_home .bg_container .hero_decoration_container .extra_wrapper {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: -1;
}
@media (max-width: 767px) {
  section.homepage_home .bg_container .hero_decoration_container .extra_wrapper {
    opacity: 0.6;
    transform: scale(150%);
    transform-origin: center;
  }
}
section.homepage_home .bg_container .hero_decoration_container .extra_wrapper .bg_positioner {
  transform-style: preserve-3d;
  perspective: 1000px;
  position: relative;
  --transform-initial: rotateX(10deg) rotateY(-24deg) rotateZ(8deg);
}
section.homepage_home .bg_container .hero_decoration_container .extra_wrapper .bg_positioner .dec_bg {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-image: url(../img/ui-dec-bg.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transform-origin: 10% 35%;
  transform: scale(110%);
}
section.homepage_home .bg_container .hero_decoration_container .extra_wrapper .bg_positioner .dec_items {
  transform-style: preserve-3d;
  transform-origin: center;
  transform: scale(70%);
}
section.homepage_home .bg_container .hero_decoration_container .extra_wrapper .bg_positioner .dec_items #hero_moveable {
  transform-style: preserve-3d;
  transition: transform 0.2s ease-out;
}
section.homepage_home .bg_container .hero_decoration_container .extra_wrapper .bg_positioner .dec_items #hero_moveable .hero_self_tilting {
  position: relative;
  transform-style: preserve-3d;
  animation: decTilt 17s infinite linear;
}
section.homepage_home .bg_container .hero_decoration_container .extra_wrapper .bg_positioner .dec_items #hero_moveable .hero_self_tilting .hero_tilting_group {
  transform-style: preserve-3d;
  transform: var(--transform-initial);
}
section.homepage_home .bg_container .hero_decoration_container .extra_wrapper .bg_positioner .dec_items #hero_moveable .hero_self_tilting .hero_decoration {
  position: relative;
  transform-style: preserve-3d;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  width: 100%;
  opacity: 0.8;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
section.homepage_home .bg_container .hero_decoration_container .extra_wrapper .bg_positioner .dec_items #hero_moveable .hero_self_tilting .hero_decoration.extra_layer {
  position: absolute;
  top: 0;
  left: 0;
  filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.1)) drop-shadow(0px 10px 16px rgba(0, 0, 0, 0.4));
  animation-duration: 5.7s;
}
section.homepage_home .bg_container .hero_decoration_container .extra_wrapper .bg_positioner .dec_items #hero_moveable .hero_self_tilting .ztrans_0 {
  animation-name: ztrans-0;
  animation-duration: 6.1s;
  animation-delay: -1s;
}
section.homepage_home .bg_container .hero_decoration_container .extra_wrapper .bg_positioner .dec_items #hero_moveable .hero_self_tilting .ztrans_1 {
  animation-name: ztrans-1;
  animation-duration: 9.1s;
  animation-delay: -3.7s;
}
section.homepage_home .bg_container .hero_decoration_container .extra_wrapper .bg_positioner .dec_items #hero_moveable .hero_self_tilting .ztrans_2 {
  animation-name: ztrans-2;
  animation-delay: -5s;
}
section.homepage_home .bg_container .hero_decoration_container .extra_wrapper .bg_positioner .dec_items #hero_moveable .hero_self_tilting .ztrans_3 {
  animation-name: ztrans-3;
  animation-delay: -4s;
}
section.homepage_home .bg_container .hero_decoration_container .extra_wrapper .bg_positioner .dec_items #hero_moveable .hero_self_tilting .ztrans_4 {
  animation-name: ztrans-4;
  animation-delay: -3s;
}
section.homepage_home .bg_container .hero_decoration_container .extra_wrapper .bg_positioner .dec_items #hero_moveable .hero_self_tilting .ztrans_5 {
  animation-name: ztrans-5;
  animation-delay: -2s;
}
section.homepage_home .bg_container .hero_decoration_container .extra_wrapper .bg_positioner .dec_items #hero_moveable .hero_self_tilting .ztrans_6 {
  animation-name: ztrans-6;
  animation-delay: -1s;
}
section.homepage_home .bg_container .hero_decoration_container .extra_wrapper .bg_positioner .dec_items #hero_moveable .hero_self_tilting .ztrans_7 {
  animation-name: ztrans-7;
  animation-delay: 0s;
}

section.page_section#contact {
  overflow: hidden;
}
section.page_section#contact .bg_container {
  background-image: url("../img/bg-contact-gradient-4.jpg?v=1");
  background-size: 100% 100%;
  background-repeat: no-repeat, no-repeat;
  background-position: 50%, 50%;
  background-attachment: fixed;
  animation: bgGradient2 5s infinite linear;
  animation-direction: alternate;
}
@media (max-width: 1200px) {
  section.page_section#contact .bg_container {
    width: 1200px;
    left: 50%;
    margin-left: -600px;
  }
}
section.page_section#contact .contact_card {
  position: relative;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(4rem);
          backdrop-filter: blur(4rem);
  box-shadow: 0 0 1rem 0.25rem rgba(0, 0, 0, 0.02);
}
section.page_section#contact .contact_card .contact_form .form-control {
  background-color: rgba(255, 255, 255, 0.2);
  transition: border-color 0.3s;
}
section.page_section#contact .contact_card .contact_form .form-control:focus {
  background-color: rgba(255, 255, 255, 0.6);
  border: none;
}
section.page_section#contact .contact_card .contact_form label::after {
  background: none;
}
section.page_section#contact .contact_card .contact_form #formOutput .alert {
  opacity: 0;
  border: transparent;
  animation: fadeInAnimation 0.6s ease-in-out forwards;
}
section.page_section#contact .contact_card .contact_sheet {
  visibility: visible;
}
section.page_section#contact .contact_decoration_container {
  transform-style: preserve-3d;
  perspective: 3000px;
  width: 100%;
  filter: drop-shadow(-50px -3px 32px rgba(93, 9, 55, 0.33));
}
section.page_section#contact .contact_decoration_container #contact_moveable {
  transform-style: preserve-3d;
  transition: transform 0.2s ease-out;
  position: relative;
  z-index: -1;
}
section.page_section#contact .contact_decoration_container #contact_moveable .contact_self_tilting {
  position: relative;
  transform-style: preserve-3d;
  animation: decTilt 6.7s infinite linear;
  --transform-initial: rotateX(24deg) rotateY(34deg) rotateZ(-24deg);
}
section.page_section#contact .contact_decoration_container #contact_moveable .contact_self_tilting .contact_tilting_group {
  transform-style: preserve-3d;
  transform: var(--transform-initial);
}
section.page_section#contact .contact_decoration_container #contact_moveable .contact_self_tilting .contact_tilting_group .contact_decoration {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  transform-style: preserve-3d;
}
section.page_section#contact .contact_decoration_container #contact_moveable .contact_self_tilting .contact_tilting_group .contact_decoration.base_layer {
  transform: translateZ(-24px);
}
section.page_section#contact .contact_decoration_container #contact_moveable .contact_self_tilting .contact_tilting_group .contact_decoration.extra_layer {
  position: absolute;
  top: 0;
  left: 0;
}
section.page_section#contact .contact_decoration_container #contact_moveable .contact_self_tilting .contact_tilting_group .contact_decoration.extra_rise_btn {
  transform-origin: 25.1% 50%;
  transform: rotateY(-90deg);
}
section.page_section#contact .contact_decoration_container #contact_moveable .contact_self_tilting .contact_tilting_group .contact_decoration.extra_rise_0 {
  filter: drop-shadow(-3px 1px 1px rgba(255, 255, 255, 0.03));
}
section.page_section#contact .contact_decoration_container #contact_moveable .contact_self_tilting .contact_tilting_group .contact_decoration.extra_rise_1 {
  transform: translateZ(50px);
  animation: ztrans-b1 4.7s infinite alternate ease-in-out;
}
section.page_section#contact .contact_decoration_container #contact_moveable .contact_self_tilting .contact_tilting_group .contact_decoration.extra_rise_2 {
  transform: translateZ(130px);
  animation: ztrans-b2 4.7s infinite alternate ease-in-out;
}

section.projects_section {
  padding-bottom: 7rem;
}
@media (max-width: 767px) {
  section.projects_section {
    padding-bottom: 5rem;
  }
}
section.projects_section .projects_container .project_card {
  position: relative;
  transition: box-shadow 0.6s;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.08);
}
section.projects_section .projects_container .project_card:hover {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.2);
}
section.projects_section .projects_container .project_card a.card_thumb_link .card_thumbnail {
  overflow: hidden;
  background-color: #e4dadd;
}
section.projects_section .projects_container .project_card a.card_thumb_link .card_thumbnail img {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
section.projects_section .projects_container .project_card .card_info {
  overflow: hidden;
  padding: 1.5rem;
  gap: 1rem;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
}
section.projects_section .projects_container .project_card .card_info .card_info_headline a {
  text-decoration: none;
  color: inherit;
}
section.projects_section .projects_container .project_card .card_info .card_info_categories {
  cursor: default;
}
section.projects_section .projects_container .project_card .card_info .card_info_categories span {
  background-color: rgba(0, 0, 0, 0.08);
}
section.projects_section .projects_container .project_card .card_info .card_info_summary {
  position: relative;
  overflow: hidden;
}
section.projects_section .projects_container .project_card .card_info .card_info_summary::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1.5rem;
  background: linear-gradient(to bottom, transparent, white);
  opacity: 0;
  transition: opacity 0.3s ease;
}
section.projects_section .projects_container .project_card .card_info .card_info_summary.large-height::before {
  opacity: 1;
}
section.projects_section .projects_container .project_card .card_info .card_info_summary .summary_content {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-height: 4.5rem;
}
section.projects_section .projects_container .project_card .card_info .p_a_summary_link {
  text-decoration: none;
  grid-row: span 2;
}
section.projects_section .projects_container .project_card .card_info .p_a_summary_link .card_info_summary {
  max-height: 24em;
  overflow: hidden;
  text-overflow: ellipsis;
}
section.projects_section .projects_container .project_card .card_info .p_a_summary_link .card_info_summary .summary_content {
  overflow: hidden;
  -webkit-line-clamp: 6;
  max-height: 9rem;
}
section.projects_section .projects_container .project_card .card_info .p_a_summary_link .card_info_summary .summary_content p {
  padding: 0;
  margin: 0;
  line-height: 1.2em;
  text-decoration: none;
}
section.projects_section .projects_container .project_card.featured_card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: fit-content(0);
  gap: 3rem;
}
section.projects_section .projects_container .project_card.featured_card a.card_thumb_link .card_thumbnail {
  overflow: hidden;
}
section.projects_section .projects_container .project_card.featured_card a.card_thumb_link .card_thumbnail img {
  visibility: visible;
}
section.projects_section .projects_container .project_card.featured_card .card_info {
  max-height: 100%;
  padding-left: 0;
  grid-column: span 2;
}
section.projects_section .projects_container .project_card.featured_card .card_info .card_info_summary {
  flex-shrink: 1;
  overflow: hidden;
}
section.projects_section .projects_container .project_card.featured_card .card_info .card_info_summary .summary_content {
  max-height: 12rem;
  -webkit-line-clamp: unset;
}
@media (max-width: 1199px) {
  section.projects_section .projects_container .project_card.featured_card {
    gap: 1.5rem;
  }
  section.projects_section .projects_container .project_card.featured_card .card_info {
    padding-left: 0;
  }
}
@media (max-width: 991px) {
  section.projects_section .projects_container .project_card.featured_card {
    grid-template-columns: 1fr 1fr;
  }
  section.projects_section .projects_container .project_card.featured_card .card_info {
    grid-column: span 1;
  }
}
@media (max-width: 767px) {
  section.projects_section .projects_container .project_card.featured_card {
    grid-template-columns: 3fr 2fr;
  }
}
@media (max-width: 575px) {
  section.projects_section .projects_container .project_card.featured_card {
    gap: 0;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
  section.projects_section .projects_container .project_card.featured_card .card_info {
    padding-left: 1.5rem;
  }
}

.archive_container .card_info .card_info_summary {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-height: 4.5rem;
}
@media (max-width: 767px) {
  .archive_container .card_info .card_info_summary {
    max-height: 1.5rem;
  }
}

.card.archive_card {
  transition: background-color 0.3s, box-shadow 0.3s;
}
.card.archive_card:hover {
  background-color: white !important;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2) !important;
}

html {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body {
  font-family: "Roboto", "Source Sans 3", Helvetica, Arial, sans-serif;
}
body .page_wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  position: relative;
}
body .page_wrapper main#project_main {
  flex-grow: 1;
}
body .text_hero {
  font-size: 6rem;
}
@media (max-width: 1199px) {
  body .text_hero {
    font-size: 4rem;
  }
}
@media (max-width: 575px) {
  body .text_hero {
    font-size: 3rem;
  }
}
body .text_hero2 {
  font-size: 3rem;
}
@media (max-width: 1199px) {
  body .text_hero2 {
    font-size: 2.5rem;
  }
}
@media (max-width: 575px) {
  body .text_hero2 {
    font-size: 2rem;
  }
}
body .none_select {
  -moz-user-select: none;
       user-select: none;
  user-zoom: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  pointer-events: none;
}
body .hidden {
  display: none;
  visibility: hidden;
  opacity: 0;
}
body a.no_deco {
  text-decoration: none;
}

.page_navbar {
  flex-wrap: nowrap;
}
.page_navbar.project_page_navbar {
  background-color: rgba(255, 255, 255, 0.8);
}
.page_navbar.archive_page_navbar {
  background-color: rgba(255, 255, 255, 0.8);
}
.page_navbar .navbar-brand {
  overflow: hidden;
}
.page_navbar .navbar-brand .site_title {
  white-space: nowrap;
}
.page_navbar .navbar-brand .project_name {
  transition-property: opacity transform;
  transition-duration: 0.3s;
  vertical-align: center;
  line-height: 26px;
}
.page_navbar .navbar-brand .project_name.slideout {
  opacity: 0;
  transform: translateY(12px);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.page_navbar .offcanvas .offcanvas-body ul.navbar-nav li a {
  padding-left: calc(1.5rem + 1px);
  border-left: 1px solid rgba(0, 0, 0, 0.5);
}
.page_navbar .offcanvas .offcanvas-body ul.navbar-nav li a.active {
  padding-left: 1.5rem;
  border-left: 2px solid black;
}
.page_navbar[data-bs-theme=dark] .navbar-brand {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}
.page_navbar[data-bs-theme=dark] .navbar-brand .site_logo {
  filter: invert(100%);
}
.page_navbar[data-bs-theme=dark] .offcanvas {
  background-color: #0b0209;
  border-left: 1px solid #1b1019;
}
.page_navbar[data-bs-theme=dark] .offcanvas .offcanvas-body ul.navbar-nav li a {
  border-left: 1px solid rgba(255, 255, 255, 0.6);
}
.page_navbar[data-bs-theme=dark] .offcanvas .offcanvas-body ul.navbar-nav li a.active {
  border-left: 2px solid white;
}
.page_navbar[data-bs-theme=dark] .offcanvas .text_subtle {
  color: rgba(255, 255, 255, 0.1);
}

section.page_section {
  padding: 5rem 0;
  position: relative;
  overflow-x: hidden;
}
section.page_section .section_headline {
  margin-bottom: 3rem;
}
@media (max-width: 991px) {
  section.page_section {
    padding: 3rem 0 4rem 0;
  }
  section.page_section .section_headline {
    margin-bottom: 2rem;
  }
}
section.page_section .bg_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

footer {
  position: relative;
  width: 100%;
  bottom: 0;
  font-size: 0.8em;
}/*# sourceMappingURL=styles.css.map */