@import 'css_keyframes';
@import 'css_include';
@import 'css_module_article';
@import 'css_module_banners';
@import 'css_module_cards';

// nav ##################################################################
html {
    margin: 0;
    padding: 0;
    font-size: 16px;
    // scroll-behavior: auto !important;
}

body {
    font-family: $font-normal;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: $font-head;
        font-weight: 700;
    }

    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6 {
        font-family: $font-head;
    }

    .page_wrapper {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        width: 100%;
        position: relative;

        main#project_main {
            flex-grow: 1;
        }

    }

    .text_hero {
        font-size: 6rem;

        @media (max-width: $bp-xl) {
            font-size: 4rem;
        }

        @media (max-width: 575px) {
            font-size: 3rem;
        }
    }

    .text_hero2 {
        font-size: 3rem;

        @media (max-width: $bp-xl) {
            font-size: 2.5rem;
        }

        @media (max-width: $bp-sm) {
            font-size: 2rem;
        }
    }

    // utility class

    .none_select {
        user-select: none;
        user-zoom: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        pointer-events: none;
    }

    .hidden {
        display: none;
        visibility: hidden;
        opacity: 0;
    }

    .bg_subtle {
        background-color: rgba($color: #000000, $alpha: 0.07);
    }

    .text_fade {
        color: rgba($color: #000000, $alpha: 0.03);
        text-decoration: none;
    }

    .text_subtle {
        color: rgba($color: #000000, $alpha: 0.1);
        text-decoration: none;
    }


    a.no_deco {
        text-decoration: none;
    }

}

.page_navbar {
    transition: background-color 0.5s;
    flex-wrap: nowrap;

    &.project_navbar {
        background-color: rgba($color: #fff, $alpha: 0.8);
    }

    &.bg-light {
        box-shadow: 0 0 1rem 0 rgba($color: #000000, $alpha: 0.1);
    }

    .navbar-brand {
        display: flex;
        gap: 0.5rem;
        flex-shrink: 1;
        overflow: hidden;
        align-items: center;
        line-height: 1.5rem;

        a {
            display: flex;
            gap: 0.5rem;
            align-items: center;
            text-decoration: none;
            color: inherit;

            &.logo {
                align-self: center;
            }
        }

        &.navbar-dark {
            text-shadow: 1px 1px 3px rgba($color: #000000, $alpha: 0.2);

            img {
                filter: invert(100%);
            }
        }

        .project_name {
            text-overflow: ellipsis;
            overflow: hidden;

            transition-property: opacity transform;
            transition-duration: 0.3s;

            &.slideout {
                opacity: 0;
                transform: translateY(12px);
                user-select: none;
            }
        }
    }

    .navbar-toggler {
        border: none;

        &.navbar-dark {
            span.navbar-toggler-icon {
                color: white;
            }
        }
    }


    .offcanvas {
        .offcanvas-body {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .drawer_top_group {
                flex-grow: 1;
            }

            ul.navbar-nav {

                // border-bottom: 1px solid $color-gray-ash;
                li {
                    a {
                        padding-left: calc($unit-4 + 1px);
                        border-left: 1px solid $color-gray-medium;

                        // transition: border-left 0.4s;
                        &.active {
                            padding-left: $unit-4;
                            border-left: 2px solid black;
                        }
                    }
                }
            }
        }
    }
}


// sections #####

section.page_section {
    padding: 5rem 0;
    position: relative;
    overflow-x: hidden;

    .section_headline {
        margin-bottom: 3rem;
    }

    @media (max-width: $bp-lg) {
        padding: 3rem 0 4rem 0;

        .section_headline {
            margin-bottom: 2rem;
        }
    }

    .bg_container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

// footer #############
footer {
    position: relative;
    width: 100%;
    bottom: 0;
    font-size: 0.8em;
}
